*{
  margin: 0;
  padding: 0;
  outline: none;
}
body{
  font-family: $font-montserrat;
  color:#29262f;
}
a{
  text-decoration: none;
  color:#000;

  &.button-yellow{
    border:3px solid #ffcb42;
    padding: 10px 50px;
    transition: all 0.4s;
    background: transparent;
    font-weight: bold;
    font-size: 16px;

    &:hover{
      background: #ffcb42;
      color:#fff;
    }
  }
}
.container{
  width: 1200px;
  margin:0 auto;
}

