*{
  margin: 0;
  padding: 0;
  outline: none;
}
body{
  font-family: $font-montserrat;
  color:#29262f;
}
a{
  text-decoration: none;
  color:#000;
}
span.block_title{
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  &:before{
    content:"";
    transition: all 1s;
    width: 60%;
    height: 3px;
    bottom: -20px;
    left:20%;
    display: block;
    background: #ffd925;
    position: absolute;
  }
}
.button-yellow{
  border:3px solid #ffcb42;
  padding: 10px 50px;
  transition: all 0.4s;
  cursor: pointer;
  background: transparent;
  font-weight: bold;
  font-size: 16px;

  &:hover{
    background: #ffcb42;
    color:#fff;
  }
}
.container{
  width: 1200px;
  margin:0 auto;
}


/**
Carousel pagination
**/

.owl-additional-pagination{
  position: absolute;
  z-index: 1;
  top: 50%;
  left:40px;
  transform: translateY(-50%);

  p{
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    &.active{
      font-size: 22px;
      font-weight: bold;
    }
    &:last-child{
      &:after{
        display: none;
      }
    }
    &:after{
      margin: 0 auto;
      content:"";
      height:60px;
      width: 1px;
      background: #000;
      display: block;

    }
  }
}

