.categories_block_container{
  padding:15px 0;
  display: flex;
  flex-flow: wrap;
  &-item{
    position: relative;

    &__wrapper{
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
      margin-bottom:5px;
      width:100%;
      opacity: 0;
      z-index: 2;
      transition: all 0.6s;
      background: #fff;

      &.opened{
        position: absolute;

        ul{
          max-height: 1600px;
        }
      }
      &.active{
        opacity: 1;
      }
      &:hover{
        .categories_block_container-item__wrapper-header{
          background: #ffd925;
        }
      }
      &-content{
        padding: 25px;
        background: #fff;

        &-seemore{
          margin-top:10px;
          p{
            cursor: pointer;
            position: relative;
            &:after{
              position: absolute;
              right:45px;
              top:50%;
              transform: translateY(-50%);
              content:url(../images/icon-arrow-right.png);
            }
          }
        }

        ul{
          list-style-type: none;
          max-height: 150px;
          overflow: hidden;
          transition: all .8s;
          li{
            &:hover{
              &:before{
                content:url(../images/icon-point-active.jpg);
              }
              a{
              }
            }
            &:before{
              content:url(../images/icon-point.jpg);
              margin-top: 3px;
              display: block;
              float: left;
              margin-right: 4px;
            }
            a{
              font-size: 16px;
              padding:5px 5px;
              display: inline-block;
            }
          }
        }
      }
      &-header{
        border-bottom: 1px solid #000;
        text-align: center;
        position: relative;
        height: 220px;
        a{
          padding: 15px 15px;
          display: block;
          margin-bottom:20px;
        }
        img{
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }
}