.categories_preview{
  background: #f8f9fa;
  &_container{
    padding:60px 0;
    &-button{
      margin-top:40px;
      text-align: center;
    }
    &-content{

      .categories_block_container-item{
        width: 25%;
        position: relative;
        height: 261px;
        &:hover{
          .categories_block_container-item{
            &__title{
              display: none;
            }
          }

        }

        &__title{
          margin-top:20px;
          text-align: center;
          position: absolute;
          bottom:0;
          width: 100%;
        }
        &:hover{


          .categories_block_container-item{
            &__wrapper{
              box-shadow:0 0 15px rgba(0, 0, 0, 0.25);
              max-height:6000px;
              &-header{
                border-color:#000;
                background: #ffd925;
                a{
                  display: inline-block;
                }
              }
            }
          }
        }
        &__wrapper{
          max-height: 221px;
          box-shadow:0 0 0;
          background: transparent;
          overflow: hidden;
          position: absolute;

          &-header{
            border-color:#ccc;

            a{
              display: none;
            }


          }

        }
      }
    }
    &-header{
      text-align: center;
      padding-bottom:40px;
      span{
        font-size: 24px;
        font-weight: bold;
        text-transform: uppercase;
        position: relative;
        &:before{
          content:"";
          transition: all 1s;
          width: 60%;
          height: 3px;
          bottom: -20px;
          left:20%;
          display: block;
          background: #ffd925;
          position: absolute;
        }
      }
    }
  }
}