.contacts{

  &_container{
    padding:80px 0;
    &-header{
      text-align: center;
      margin-bottom:50px;
      p{
        font-size: 36px;
        text-transform: uppercase;
      }
    }
    &-content{
      display: flex;
      justify-content: center;

      &_left{
        width: 60%;
        textarea{
          min-height: 100px;
        }
        .form-input-custom{
          display: block;
          border: none;
          border-bottom: 1px solid rgb(204, 204, 204);
          width: 80%;
          padding:5px 15px;
          margin-bottom: 20px;
          height: 30px;

          &:focus{
            outline: none;
          }
        }

        button.form-button-custom{
          display: block;
          margin-top: 45px;
          cursor: pointer;
          border: 1px solid #000;
          padding: 8px 50px;
          text-transform: uppercase;
          color: #000;
          background: none;

          &:focus{
            outline: none;
          }
        }
      }

      &_right{
        width: 30%;

        p{
          font-weight: 600;
          position: relative;
          margin-bottom: 10px;
          &.email,&.telephone{
            padding:10px 0;
            font-weight: normal;

          }
          &.email{
            &:before{
              content:url(../images/icon-email.png);
              margin-right:10px;
            }
            &:after{
              content: "";
              position: absolute;
              background: #ccc;
              width:100%;
              height: 1px;
              left:0;
              bottom: 0;
            }
          }
          &.telephone{

            &:before{
              content:url(../images/icon-telephone.png);
              margin-right:10px;
            }
            &:after{
              content: "";
              position: absolute;
              background: #ccc;
              width:100%;
              height: 1px;
              left:0;
              bottom: 0;
            }
          }
        }
      }

      p{
        &.block-title{
          font-weight: bold;
          font-size: 20px;
          text-transform: uppercase;
          margin-bottom: 25px;

        }

        &.email-block{
          font-size: 24px;
          text-transform: uppercase;
          margin:20px 0;
        }
      }
    }
  }
}