.product_list{
  &_container{
    margin-top:80px;
    &-content{
      &__items{
        .item{
          padding:8px;
        }
        &-container{
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.47);
          &__header{
            padding:15px;
            position: relative;

            &-like{
              position: absolute;
              right: 10px;
              top:10px;
              &__button{
                background: transparent;
                border: none;
                cursor: pointer;
              }
            }
          }
          &__title{
            text-align: center;
            padding-bottom: 25px;
            margin-bottom:15px;
            position: relative;
            a{
              padding: 0 10px;

              &:after{
                position: absolute;
                content: "";
                width: 70%;
                height: 1px;
                background: #000;
                bottom:0;
                left:15%;
              }
            }
          }
          &__image{
            min-height:230px;
            img{
              width: auto !important;
              margin: 0 auto;
            }
          }
          &__content{
            &-addtocart{

              a{
                padding:10px 0;
                background: #9ae538;
                text-transform: uppercase;
                color:#fff;
                border: 0 none;
                font-size:24px;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                  margin-left:10px;
                width: auto !important;
                display: inline !important;
                }
              }
            }
            &-price{
              min-height: 48px;
              display: flex;
              justify-content: center;
              align-items: center;
              margin-bottom:15px;
              &__item{
                &-rating{
                  display: flex;
                  align-items: baseline;
                  >img{
                    width: auto !important;
                  }
                }
                &:first-child{
                  margin-right:25px;
                }
                p{
                  text-align: right;
                  font-size:24px;
                  color: rgba(0, 0, 0, 1);

                  &.old_price{
                    font-size: 16px;
                    text-decoration: line-through;
                    color: rgba(0, 0, 0, 0.31);
                  }
                }
              }
            }
          }
        }
      }
    }
    &-header{
      display: flex;
      margin-bottom:25px;
      justify-content: center;
      &__item{
        margin-right:20px;
        padding-right:110px;
        position: relative;

        &:after{
          content: "";
          position:absolute;
          width:90px;
          height:1px;
          background: #000;
          top:50%;
          right:0;
          transform: translateY(-50%);
        }
        &:last-child{
          padding-right:0;
            &:after{
              width: 0;
            }
        }

        a{
          padding:25px 15px;
          text-transform: uppercase;
          color:#000;
          position: relative;
          display: block;
          font-size: 16px;


          &:not(.active){
            padding-top: 30px;
          }
          span:first-child{
            position: absolute;
            opacity: 0;
            font-weight: bold;
          }


          &:hover{
            span:first-child{
              opacity: 1;
            }
            span:nth-child(2){
              opacity: 0;
            }
            &:before{
              width: (60%);
              height: 3px;
            }
          }
          &:before{
            content:"";
            transition: all 1s;
            width: 0;
            height: 3px;
            bottom: 0;
            left:20%;
            display: block;
            background: #ffd925;
            position: absolute;
          }
          &.active{
            font-weight: 700;
            font-size: 24px;
            cursor:default;
            &:before{
              content: "";
              position: absolute;
              width: 60%;
              left:20%;
              bottom: 0;
              height: 3px;
              background: #ffd925;
            }
          }
        }
        &:last-child{
          margin-right: 0;
        }
      }
    }
  }
}